<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  {{ template "header.html" }}
  {{ 12.3456 | printf "%.2f" }}
  <ul>
  {{ range .array}}
    <li>{{ . }}</li>
  {{ end }}
  </ul>
  <form action="http://127.0.0.1:8080/process?hello=world&thread=123" method="post" entype="application/x-www-form-urlencoded">
    <input type="text" name="hello" value="sau sheong">
    <input type="text" name="thread" value="123">
    <input type="submit">
  </form>
</body>
</html>
